@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
h1{
    text-align: center;
    letter-spacing: 2.5px;
    margin: 20px 0;
    font-family: 'Nova Mono', monospace;
    font-size: 4rem;
    
}
.flex_container{
  
    margin: 0rem 3rem ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.flex_item{
    width: 18rem;
    text-align: center;
    box-shadow: 0 0 3px #252b48;
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
}
.product_head>img{
    width: 11rem;
    height: 7rem;
    border-radius: 10px;
    box-shadow: 0 3px #9d174d;

    
}
.product_head>img:hover{
    Transform: scale(1.2)
}
.product_head{
    margin-bottom: 3rem;
}
.product_head>h2{
    font-family: 'Nova Square', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.product_info{
    
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_info_h2{
    position: absolute;
    left: 30px;
    bottom: 1px;
    font-size: 1.8rem;
    
}
.product_info_h2>span{
    display: inline-block;
    color: #9d174d;
    font-size: 1.8rem;
   padding-right:0.3rem;    
}
.flex_item_bottom{
    margin-top: 1.7rem;
    margin-bottom: 3rem;
     display: flex;
     justify-content: center;
     gap: 2rem;
     margin-left: 2rem;
}