.navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color:#052c65;
    position: fixed;    
    z-index: 999;
    top: 0; 
    left: 0;
    right: 0;
}
.h_logo>img{
    width: 4rem;
  
}

.shopping>img{
    width: 4rem;
  
}