.navbar{
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color:#052c65;
    position: fixed;    
    width: 100%;
  
}
.h_logo>img{
    width: 4rem;
    color: #fff;
  
}

.shopping>img{
    width: 4rem;
  
}